.reposCard {
    background-color: #4B515D;
    border: 1px solid grey;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 8px;
}

.reposCard i{
    margin: 0 8px;
}

.reposCard div:last-child{
    display: none;
}

.reposCard div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reposCard:hover {
    cursor: pointer;
    background-color: rgb(82, 94, 105);
    transition: all .5s;
    transform : translateY(-8px);
}

.reposCard:hover  div:last-child{
    display: block;
}

.reposCard  a > div > *:not(:last-child) {
    margin-bottom: 8px;
}

.reposCard span {
    font-size: 80%;
    margin-left: 8px;
    color: #B0B4B6;
}

.reposCard > a {
    text-decoration: none;
}